<?xml version="1.0" encoding="UTF-8"?>  
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"   
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">  
  <localRepository>D:\Java\maven_jar</localRepository>
  <pluginGroups></pluginGroups>  
  <proxies></proxies>  
  
  <servers>  
      <server>  
      <id>nexus-releases</id>  
      <username>cloud-dev</username>  
      <password>dev2020</password>  
    </server>  
    <server>  
      <id>nexus-snapshots</id>
      <username>cloud-dev</username>
      <password>dev2020</password>
    </server>  
  </servers>  
  
  <mirrors>   
    <mirror>   
      <id>nexus-releases</id>   
      <mirrorOf>*</mirrorOf>   
      <url>http://172.20.11.169:8082/nexus/repository/maven-public/</url>   
    </mirror> 
    
    <mirror>
      <id>nexus-snapshots</id>   
      <mirrorOf>*</mirrorOf>   
      <url>http://172.20.11.169:8082/nexus/repository/maven-snapshots/</url>   
    </mirror> 
  </mirrors>   
   
  <profiles>  
   <profile>  
      <id>nexus</id>  
      <repositories>  
        <repository>  
          <id>nexus-releases</id>  
          <url>http://nexus-releases</url>  
          <releases><enabled>true</enabled></releases>  
          <snapshots><enabled>true</enabled></snapshots>  
        </repository>   
      </repositories>  
      <pluginRepositories>  
         <pluginRepository>  
                <id>nexus-releases</id>  
                 <url>http://nexus-releases</url>  
                 <releases><enabled>true</enabled></releases>  
                 <snapshots><enabled>true</enabled></snapshots>  
               </pluginRepository>  
         </pluginRepositories>  
    </profile>  
  </profiles>  
  
  <activeProfiles>  
      <activeProfile>nexus</activeProfile>  
  </activeProfiles>  
   
</settings>